@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1f1934;
  color: #fff;
}

::selection {
  background-color: rgba(74, 47, 189, 0.5);
}

#cover {
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  display: flex;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.currentIconPage svg {
  stroke: #f5741c;
  fill: #f5741c;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f5741c;
}
